<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.xiyou.BCS.dao.CrawlBlogMapper">
  <resultMap id="BaseResultMap" type="edu.xiyou.BCS.model.CrawlBlog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="title" jdbcType="CHAR" property="title" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="write_date" jdbcType="TIMESTAMP" property="writeDate" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="vistors_num" jdbcType="INTEGER" property="vistorsNum" />
    <result column="local_vistors_num" jdbcType="INTEGER" property="localVistorsNum" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="reprint" jdbcType="BIT" property="reprint" />
    <result column="reprint_url" jdbcType="VARCHAR" property="reprintUrl" />
    <result column="reprint_author" jdbcType="VARCHAR" property="reprintAuthor" />
    <result column="other" jdbcType="VARCHAR" property="other" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="edu.xiyou.BCS.model.CrawlBlog">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, url, title, author, write_date, create_date, update_date, vistors_num, local_vistors_num, 
    tag, category, reprint, reprint_url, reprint_author, other
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from crawl_blogs
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from crawl_blogs
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.xiyou.BCS.model.CrawlBlog" useGeneratedKeys="true" keyProperty="id">
    insert into crawl_blogs (url, title,
      author, write_date, create_date, 
      update_date, vistors_num, local_vistors_num, 
      tag, category, reprint, 
      reprint_url, reprint_author, other, 
      content)
    values ( #{url,jdbcType=VARCHAR}, #{title,jdbcType=CHAR},
      #{author,jdbcType=VARCHAR}, #{writeDate,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{vistorsNum,jdbcType=INTEGER}, #{localVistorsNum,jdbcType=INTEGER}, 
      #{tag,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{reprint,jdbcType=BIT}, 
      #{reprintUrl,jdbcType=VARCHAR}, #{reprintAuthor,jdbcType=VARCHAR}, #{other,jdbcType=VARCHAR}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.xiyou.BCS.model.CrawlBlog">
    insert into crawl_blogs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="writeDate != null">
        write_date,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="vistorsNum != null">
        vistors_num,
      </if>
      <if test="localVistorsNum != null">
        local_vistors_num,
      </if>
      <if test="tag != null">
        tag,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="reprint != null">
        reprint,
      </if>
      <if test="reprintUrl != null">
        reprint_url,
      </if>
      <if test="reprintAuthor != null">
        reprint_author,
      </if>
      <if test="other != null">
        other,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=CHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="writeDate != null">
        #{writeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="vistorsNum != null">
        #{vistorsNum,jdbcType=INTEGER},
      </if>
      <if test="localVistorsNum != null">
        #{localVistorsNum,jdbcType=INTEGER},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="reprint != null">
        #{reprint,jdbcType=BIT},
      </if>
      <if test="reprintUrl != null">
        #{reprintUrl,jdbcType=VARCHAR},
      </if>
      <if test="reprintAuthor != null">
        #{reprintAuthor,jdbcType=VARCHAR},
      </if>
      <if test="other != null">
        #{other,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.xiyou.BCS.model.CrawlBlog">
    update crawl_blogs
    <set>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=CHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="writeDate != null">
        write_date = #{writeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="vistorsNum != null">
        vistors_num = #{vistorsNum,jdbcType=INTEGER},
      </if>
      <if test="localVistorsNum != null">
        local_vistors_num = #{localVistorsNum,jdbcType=INTEGER},
      </if>
      <if test="tag != null">
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="reprint != null">
        reprint = #{reprint,jdbcType=BIT},
      </if>
      <if test="reprintUrl != null">
        reprint_url = #{reprintUrl,jdbcType=VARCHAR},
      </if>
      <if test="reprintAuthor != null">
        reprint_author = #{reprintAuthor,jdbcType=VARCHAR},
      </if>
      <if test="other != null">
        other = #{other,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="edu.xiyou.BCS.model.CrawlBlog">
    update crawl_blogs
    set url = #{url,jdbcType=VARCHAR},
      title = #{title,jdbcType=CHAR},
      author = #{author,jdbcType=VARCHAR},
      write_date = #{writeDate,jdbcType=TIMESTAMP},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      vistors_num = #{vistorsNum,jdbcType=INTEGER},
      local_vistors_num = #{localVistorsNum,jdbcType=INTEGER},
      tag = #{tag,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      reprint = #{reprint,jdbcType=BIT},
      reprint_url = #{reprintUrl,jdbcType=VARCHAR},
      reprint_author = #{reprintAuthor,jdbcType=VARCHAR},
      other = #{other,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.xiyou.BCS.model.CrawlBlog">
    update crawl_blogs
    set url = #{url,jdbcType=VARCHAR},
      title = #{title,jdbcType=CHAR},
      author = #{author,jdbcType=VARCHAR},
      write_date = #{writeDate,jdbcType=TIMESTAMP},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      vistors_num = #{vistorsNum,jdbcType=INTEGER},
      local_vistors_num = #{localVistorsNum,jdbcType=INTEGER},
      tag = #{tag,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      reprint = #{reprint,jdbcType=BIT},
      reprint_url = #{reprintUrl,jdbcType=VARCHAR},
      reprint_author = #{reprintAuthor,jdbcType=VARCHAR},
      other = #{other,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>